{% load staticfiles %}

<html>
  <head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body class="container">
    <header class="page-header">
      <h1 class="brand-logo">Django Blog</h1>
      {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      {% endif %}
    </header>

    {% block content %}
    {% endblock %}
  </body>
</html>
