{% extends "blog/base.html" %}

{% block content %}
<div class="post-body">
  <h1>{{ post.title }}</h1>
  {% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  {% endif %}
  {% if post.published_date %}
    <small>Published: {{ post.published_date }}</small>
  {% endif %}
  <p class="post-text">{{ post.text|linebreaksbr }}</p>
</div>

<div class="navigation-controls">
  <a href="{% url 'post_list' %}" class="btn btn-sm btn-primary">Back to Posts Listing</a>
</div>

{% endblock %}
