{% extends "blog/base.html" %}

{% block content %}
{% for post in posts %}
<div class="well col-md-10 col-md-offset-1">
  <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
  <small>Published at: {{ post.published_date }}</small>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}
{% endblock %}
