h3
  a
    color: #666

.page-header
  a
    color: #fff
    text-align: right
  
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 0px
  font-size: 1.7em
  border-bottom: 1px solid #eaeaea
  margin-bottom: 15px
  padding: 20px
  border-radius: 15px
  background-color: #666
  color: #fff
  font-family: "Impact"
  
.post-text
  border-top: 1px solid #eaeaea
  margin-top: 5px
  padding-top: 10px
